<!DOCTYPE html>
<html>
  <head>
    <title>TweetApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
        <p><%= link_to "トップページ", root_path %></p>
    </header>
    <%= yield %>
    <footer>
      <P>運営会社Dive into Code株式会社</p>
      <p>© 2015-2016 DIVE INTO CODE Corp.</p>
    </footer>
  </body>
</html>
